accelerate==1.4.0
csrgraph==0.1.28
datasets==4.8.4
evaluate==0.4.3
matplotlib==3.10.1
networkx==3.3
nltk==3.9.1
numpy==1.26.4
openai==1.99.9
pandas==3.0.2
peft==0.14.0
Pillow==11.0.0
PyYAML==6.0.2
regex==2026.4.4
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
sentence-transformers==3.4.1
spacy==3.8.7
tokenizers==0.22.2
torch==2.6.0+cu126
tqdm==4.67.1
transformers==5.7.0
umap-learn==0.5.7
wandb==0.19.9
wordcloud==1.9.4
wordfreq==3.1.1
